%h1
  = "New price for #{@product.code}"

= simple_form_for @price, :url => product_prices_path(@product), :html => { :class => 'form' } do |form|
  = render 'form', :form => form, :cancel_url => product_path(@product)
